.cv {
  &-section:not(:last-child) {
    border-bottom: 1px solid $grey-color-light;
    margin-bottom: 15px
  }
  &-item {
    list-style: none;
    &-time {
      font-size: $small-font-size;
      color: $grey-color;
    }
    &-position {
      font-size: $big-font-size;
      font-weight: $big-font-widght;
    }
    &-organization {
      font-size: $big-font-size;
    }
    &-link {
      font-size: $small-font-size;
      color: $grey-color;
      &:visited {
        color: $grey-color;
      }
    }
  }
}
