.cv {
  &-section:not(:last-child) {
    border-bottom: 1px solid $grey-color-light;
    margin-bottom: 15px
  }
  &-item {
    list-style: none;
    &-time {
      @include small-light-font;
    }
    &-position {
      @include big-bold-font;
    }
    &-organization {
      font-size: $big-font-size;
    }
    &-link {
      @include small-light-font;
      &:visited {
        color: $grey-color;
      }
    }
  }
}
